@model IEnumerable<MvcOnlineTicaretOtomasyon.Models.Classes.ClassGroup3>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Ürün Marka Tablosu</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Marka</th>
                    <th>Progress Bar</th>
                    <th style="width: 40px">Toplam</th>
                </tr>
            </thead>
            <tbody>
                @{int sirano = 0; }
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@{sirano++;} @sirano</td>
                        <td>@item.Brand</td>
                        <td>
                            @if (item.Number == 1)
                            {
                                <div class="progress progress-xs">
                                    <div class="progress-bar bg-success" style="width: 55%"></div>
                                </div>
                            }
                            @if (item.Number == 2)
                            {
                                <div class="progress progress-xs">
                                    <div class="progress-bar bg-warning" style="width: 70%"></div>
                                </div>
                            }
                            @if (item.Number == 3)
                            {
                                <div class="progress progress-xs">
                                    <div class="progress-bar bg-danger" style="width: 90%"></div>
                                </div>
                            }

                        </td>
                        @if (item.Number == 1)
                        {
                            <td><span class="badge bg-success">@item.Number</span></td>
                        }
                        @if (item.Number == 2)
                        {
                            <td><span class="badge bg-warning">@item.Number</span></td>
                        }
                        @if (item.Number == 3)
                        {
                            <td><span class="badge bg-danger">@item.Number</span></td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
