@model MvcOnlineTicaretOtomasyon.Models.Classes.Invoice
@{
    ViewBag.Title = "GetInvoice";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Fatura Güncelleme Sayfası</h2>
<br />

@using (Html.BeginForm("UpdateInvoice", "Invoice", FormMethod.Post))
{
    @Html.HiddenFor(x => x.InvoiceId)
    @Html.LabelFor(x => x.InvoiceSerialNumber)
    @Html.TextBoxFor(x => x.InvoiceSerialNumber, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.InvoicesEquence)
    @Html.TextBoxFor(x => x.InvoicesEquence, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.TaxOffice)
    @Html.TextBoxFor(x => x.TaxOffice, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Date)
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Hour)
    @Html.TextBoxFor(x => x.Hour, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Receiver)
    @Html.TextBoxFor(x => x.Receiver, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Delivered)
    @Html.TextBoxFor(x => x.Delivered, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Güncelle</button>
}

