@using MvcOnlineTicaretOtomasyon.Models.Classes
@model List<SalesMovement>
@{
    ViewBag.Title = "SalesHistory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Cari Adı: @ViewBag.cname</li>
</ol>
<table class="table table-condensed">
    <tr>
        <th>Ürün</th>
        <th>Personel</th>
        <th>Adet</th>
        <th>Fiyat</th>
        <th>Toplam</th>
        <th>Tarih</th>
        <th>Yazdır</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Product.ProductName</td>
            <td>@item.Staff.StaffName @item.Staff.StaffSurName</td>
            <td>@item.Quantity</td>
            <td>@item.Price ₺</td>
            <td>@item.TotalPrice ₺</td>
            <td>@item.Date</td>
            <td><a href="#" class="btn btn-default" style="background-color:lightslategray; color:white">Yazdır</a></td>
        </tr>
    }

</table>

